[access "refs/*"]
	owner = group user/Dipak Malla (mmallad)
[access "refs/for/refs/*"]
	read = group user/Dipak Malla (mmallad)
	push = group user/Dipak Malla (mmallad)
	label-Code-Review = -2..+2 group user/Dipak Malla (mmallad)
	label-Verified = -1..+1 group user/Dipak Malla (mmallad)
	rebase = group user/Dipak Malla (mmallad)
	removeReviewer = group user/Dipak Malla (mmallad)
	submit = group user/Dipak Malla (mmallad)
[access "refs/heads/*"]
	read = group user/Dipak Malla (mmallad)
	create = group user/Dipak Malla (mmallad)
	push = +force group user/Dipak Malla (mmallad)
	pushMerge = group user/Dipak Malla (mmallad)
[access "refs/tags/*"]
	push = +force group user/Dipak Malla (mmallad)
	pushTag = group user/Dipak Malla (mmallad)
	pushSignedTag = group user/Dipak Malla (mmallad)
